table {
    height:100%; 
    width:80%;
    font-family: verdana, arial, sans-serif;
    font-size: 18px;
    color: #333333;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
}
table th {
    height: 20px;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #dedede;
}
table td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
    text-align: center;
}
ul {
    list-style-type: none;
}

.conflicts{
    color: red;
}